<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <img src="assets/img/avatars/webLogo.png" class="img-custom-avatar loginPageLogo" alt="admin@bestmehealth.com" />
                <div class="card">
                  <form [formGroup]="setPasswordForm" class="form-validate mb-lg" role="form" name="setPasswordForm"
                    novalidate="" (submit)="setPasswordFormSubmit()">
                    <div class="card-header">
                      <i class="fa fa-key"></i>Set New Password
                    </div>
                    <div class="card-body">
                      <div class="panel panel-default">
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-12 control-label">New Password</label>
                            <div class="col-sm-12">
                              <input type="password" class="form-control" name="newPassword" placeholder="New Password"
                                formControlName="newPassword" required maxlength="16">
                              <div *ngIf="(submitted && setPasswordForm.controls.newPassword.invalid) || setPasswordForm.controls.newPassword.touched">
                                <div *ngIf="setPasswordForm.hasError('required','newPassword')" class="err-msg">
                                  Please enter new password.
                                </div>
                                <div *ngIf="!setPasswordForm.hasError('required','newPassword') && setPasswordForm.hasError('minlength','newPassword')"
                                  class="err-msg">
                                  New password must be between 6 to 16 characters.
                                </div>
                              </div>
                              <div *ngIf="!setPasswordForm.hasError('required','newPassword') && setPasswordForm.hasError('pattern','newPassword')"
                                class="err-msg">
                                Spaces are not allowed.
                              </div>
                            </div>
                          </div>
                        </fieldset>
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-12 control-label">Confirm Password</label>
                            <div class="col-sm-12">
                              <input type="password" class="form-control" name="confPassword" placeholder="Confirm Password"
                                formControlName="confPassword" required>
                              <div *ngIf="(submitted && setPasswordForm.controls.confPassword.invalid) || setPasswordForm.controls.confPassword.touched">
                                <div *ngIf="setPasswordForm.hasError('required','confPassword')" class="err-msg">
                                  Please enter confirm password.
                                </div>
                                <div *ngIf="!setPasswordForm.hasError('required','confPassword') && !setPasswordForm.hasError('pattern','confPassword') && setPasswordForm.value.confPassword != setPasswordForm.value.newPassword"
                                  class="err-msg">
                                  Confirm password and new password must be same.
                                </div>
                              </div>
                              <div *ngIf="!setPasswordForm.hasError('required','confPassword') && setPasswordForm.hasError('pattern','confPassword')"
                                class="err-msg">
                                Spaces are not allowed.
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div style="text-align: center;" class="card-footer">
                      <button class="btn btn-pill btn-dark" type="submit">
                        <i class="fa fa-check"> Save</i>
                      </button>&nbsp;
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  <ngx-ui-loader fgsColor="#20a8d8" fgsPosition="center-center" fgsSize=80 fgsType="ball-spin" bgsColor="" bgsOpacity=""
    bgsSize="" gap=24 logoSize="" logoUrl="" overlayColor="" pbColor="#00ACC1" pbDirection="ltr" pbThickness=0
    hasProgressBar=false text="Please Wait..." textColor="#FFFFFF" textPosition="center-center">
  </ngx-ui-loader>
</div>