<div class="card">
  <div class="card-header">
    <span><i class="fa fa-users"></i> Admin Listing</span>
    <button style="float: right;" [routerLink]="['/adminManagement/addAdmin']" class="btn btn-pill btn-success"><i
        class="fa fa-plus"></i>
      Add Admin</button>
  </div>
  <div class="card-body">
    <div class="panel panel-default">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngIf="admins?.length != 0">
          <tr *ngFor="let admin of admins">
            <td>{{ admin.firstName }}</td>
            <td>{{ admin.lastName }}</td>
            <td>{{ admin.email }}</td>
            <td *ngIf="admin.userType == 'superAdmin'">Super Admin</td>
            <td *ngIf="admin.userType == 'subAdmin'">Sub Admin</td>
            <td>
              <button class="btn btn-dark btn-pill" [routerLink]="['/adminManagement/adminDetails', admin._id]"><i
                  class="fa fa-eye">
                  View</i></button>&nbsp;
              <button *ngIf="admin.isActive == false" (click)="changedAdminstatus(admin._id, 'active')" class="btn btn-success btn-pill"><i
                  class="fa fa-check">
                  Active</i></button>
              <button *ngIf="admin.isActive == true" (click)="changedAdminstatus(admin._id, 'inactive')" class="btn btn-warning btn-pill"><i
                  class="fa fa-ban">
                  In-Active</i></button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="admins?.length == 0">
          <tr>
            <td colspan="5" class="no-data-available">No data!</td>
          </tr>
        <tbody>
      </table>
    </div>
  </div>
</div>