<div class="card">
  <div class="card-header">
    <i class="fa fa-youtube-play"></i>Cooking Video Listing
    <button style="float: right;" [routerLink]="['/cookingVideoManagement/addCookingVideo']"
      class="btn btn-pill btn-success"><i class="fa fa-plus"></i>
      Add Cooking Video</button>
  </div>
  <div class="card-body">
    <div class="panel panel-default">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Added By</th>
            <th>Type</th>
            <th>Video</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cv of cookingVideos; let i = index">
            <td>{{ cv.title}}</td>
            <td>{{ cv.categoryName}}</td>
            <td>{{ cv.addedBy}}</td>
            <td>{{ cv.type}}</td>
            <td>
              <a href="{{cv.url}}" class="btn btn-pill btn-info" target="_blank"><i class="fa fa-eye"> View
                  Video</i></a>
            </td>
            <td>
              <button [routerLink]="['/cookingVideoManagement/cookingVideoDetails', cv._id]"
                class="btn btn-dark btn-pill"><i class="fa fa-eye">
                  View</i></button>
              <button *ngIf="cv.isActive == false" (click)="changedCookingVideoStatus(cv._id, 'active', i)"
                class="btn btn-success btn-pill"><i class="fa fa-check">
                  Active</i></button>
              <button *ngIf="cv.isActive == true" (click)="changedCookingVideoStatus(cv._id, 'inactive', i)"
                class="btn btn-warning btn-pill"><i class="fa fa-ban">
                  In-Active</i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
