<div class="card">
  <form [formGroup]="changePasswordForm" class="form-validate mb-lg" role="form" name="changePasswordForm" novalidate=""
    (submit)="changePasswordFormSubmit()">
    <div class="card-header">
      <i class="fa fa-key"></i>Change Password
    </div>
    <div class="card-body">
      <div class="panel panel-default">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Current Password</label>
            <div class="col-sm-6">
              <input placeholder="Current Password" type="password" name="currentPassword" formControlName="currentPassword"
                class="form-control" required />
              <div *ngIf="(submitted && changePasswordForm.controls.currentPassword.invalid) || changePasswordForm.controls.currentPassword.touched">
                <div *ngIf="changePasswordForm.hasError('required','currentPassword')" class="err-msg">
                  Please enter current password.
                </div>
                <div *ngIf="!changePasswordForm.hasError('required','currentPassword') && changePasswordForm.hasError('pattern','currentPassword')"
                  class="err-msg">
                  Current password field should not allow space.
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">New Password</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" name="newPassword" placeholder="New Password" formControlName="newPassword"
                required maxlength="16">
              <div *ngIf="(submitted && changePasswordForm.controls.newPassword.invalid) || changePasswordForm.controls.newPassword.touched">
                <div *ngIf="changePasswordForm.hasError('required','newPassword')" class="err-msg">
                  Please enter new password.
                </div>
                <div *ngIf="!changePasswordForm.hasError('required','newPassword') && changePasswordForm.hasError('pattern','newPassword')"
                  class="err-msg">
                  New password field should not allow space.
                </div>
                <div *ngIf="!changePasswordForm.hasError('pattern','newPassword') && !changePasswordForm.hasError('required','newPassword') && changePasswordForm.hasError('minlength','newPassword')"
                  class="err-msg">
                  New password must be between 6 to 16 characters.
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" name="confPassword" placeholder="Confirm Password"
                formControlName="confPassword" required>
              <div *ngIf="(submitted && changePasswordForm.controls.confPassword.invalid) || changePasswordForm.controls.confPassword.touched">
                <div *ngIf="changePasswordForm.hasError('required','confPassword')" class="err-msg">
                  Please enter confirm password.
                </div>
                <div *ngIf="!changePasswordForm.hasError('required','confPassword') && changePasswordForm.value.confPassword != changePasswordForm.value.newPassword"
                  class="err-msg">
                  Confirm password and new password must be same.
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-1">
          <button class="btn btn-pill btn-dark" type="submit">
            <i class="fa fa-check"> Save</i>
          </button>
        </div>
        <div class="col-sm-1 nopadding">
          <button class="btn btn-pill btn-dark" [routerLink]="['/userManagement']">
            <i class="fa fa-backward"> Back</i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
