<div class="card">
  <div class="card-header">
    <span><i class="fa fa-users"></i> Chef Listing</span>
    <button style="float: right;" [routerLink]="['/chefManagement/addChef']" class="btn btn-pill btn-success"><i class="fa fa-plus"></i>
      Add Chef</button>
  </div>
  <div class="card-body">
    <div class="panel panel-default">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngIf="chefs?.length != 0">
          <tr *ngFor="let chef of chefs">
            <td>{{ chef.firstName }}</td>
            <td>{{ chef.lastName }}</td>
            <td>{{ chef.email }}</td>
            <td *ngIf="chef.userType == 'superChef'">Super Chef</td>
            <td *ngIf="chef.userType == 'subChef'">Sub Chef</td>
            <td>
              <button class="btn btn-dark btn-pill" [routerLink]="['/chefManagement/chefDetails', chef._id]"><i class="fa fa-eye">
                  View</i></button>&nbsp;
              <button *ngIf="chef.isActive == false" (click)="changedChefstatus(chef._id, 'active')" class="btn btn-success btn-pill"><i
                  class="fa fa-check">
                  Active</i></button>
              <button *ngIf="chef.isActive == true" (click)="changedChefstatus(chef._id, 'inactive')" class="btn btn-warning btn-pill"><i
                  class="fa fa-ban">
                  In-Active</i></button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="chefs?.length == 0">
          <tr>
            <td colspan="5" class="no-data-available">No data!</td>
          </tr>
        <tbody>
      </table>
    </div>
  </div>
</div>